<div class="cart-container">
  <div class="cart-header">
    <h2>Shopping Cart</h2>
    <button mat-button color="warn" (click)="clearCart()" *ngIf="(cartItems$ | async)?.length">
      <mat-icon>remove_shopping_cart</mat-icon>
      Clear Cart
    </button>
  </div>

  <ng-container *ngIf="(cartItems$ | async) as items">
    <div *ngIf="items.length > 0; else emptyCart">
      <div class="cart-items">
        <mat-list>
          <mat-list-item *ngFor="let item of items">
            <div class="item-details">
              <img [src]="item.img" [alt]="item.name">
              <div class="item-info">
                <h3>{{item.name}}</h3>
                <p class="price">{{item.price | currency}}</p>
                <p class="quantity">Quantity: {{item.quantity}}</p>
              </div>
              <button mat-icon-button color="warn" (click)="removeFromCart(item.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="cart-summary">
        <div class="total">
          <!-- Total: {{(cartTotal$ | async) | currency}} -->
        </div>
        <!-- <button mat-raised-button color="primary" [routerLink]="['/checkout']">
          Proceed to Checkout
        </button> -->
      </div>
    </div>
  </ng-container>

  <ng-template #emptyCart>
    <div class="empty-cart">
      <mat-icon>shopping_cart</mat-icon>
      <p>Your cart is empty</p>
      <!-- <button mat-raised-button color="primary" routerLink="/products">
        Continue Shopping
      </button> -->
    </div>
  </ng-template>
</div>