.products-container {
  padding: 20px;
  
  h2 {
    color: #333;
    margin-bottom: 2rem;
  }
}

.category-filters-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  white-space: nowrap;
  overflow-x: auto;
  justify-content: flex-end;
  
  mat-form-field {
    min-width: 150px;
    flex: 0 0 auto;
  }

  button {
    &.selected {
      background-color: #791a69;
      color: white;
    }

    &:not(.selected):hover {
      background-color: rgba(25, 118, 210, 0.1);
    }
  }

}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  cursor: pointer;
  img {
    height: 200px;
    object-fit: cover;
  }

  mat-card-content {
    padding: 16px;
    
    h2 {
      margin: 0;
      font-size: 1.1rem;
      color: #333;
    }

    p {
      color: #FF0000;
      font-weight: bold;
      margin: 8px 0 0;
    }

    .quantity-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin: 16px 0;

      .quantity {
        min-width: 30px;
        text-align: center;
        font-size: 1.1rem;
      }
    }

    .add-to-cart-btn {
      width: 100%;
      margin-top: 8px;

      &:disabled {
        background-color: #ccc !important;
        color: #666;
      }
    }
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}